
// @import "../fonts/montserrat-webfonts/Montserrat.css";

// // Global styles
// body {
//     font-family: "Montserrat", sans-serif;
//     font-size: 12px;
// }

a {
    cursor: pointer;
}
// Classes definitions
.mousepointer {
    cursor: pointer;
}

.col-form-label {
    padding-top: 4px;
    padding-bottom: 4px;
}

input[type='text'].form-control {
    color: black;
}

.btn-round {
    background-color: #fff;
    color: #666 !important;
    opacity: .85;
    padding: 8px 18px;
    border-color: #fff;
    border-radius: 30px !important;
}