<!-- <div class="card header bg-gradient-danger pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row mb-3">
        <div class="col-8">
          <div class="row">
            <div class="col-4">
              <input class="form-control" placement="bottom" container="body" (click)="showAlert()" (keyup)="showAlert()" [ngbPopover]="popValid" #popOver="ngbPopover" [formControl]="searchInput" type="search" placeholder="Ingrese nombre" aria-label="Search"/>
            </div>
            <div class="col-2 text-white">
              <button type="button" [disabled]="searchInput.invalid" class="btn btn-info" (click)="search(searchInput.value)">Buscar</button>
              <button type="button" class="btn btn-info" (click)="create()">Crear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->