<div class="modal-content">
    <div class="modal-header">
        <!-- HEADER -->
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 pl-0 pr-0">
                            <div class="modal-title text-truncate">
                                <!-- ICON -->
                                <!-- <i *ngIf="data.icon" [ngClass]="data.icon"> </i> -->
        
                                <!-- ACTION TEXT -->
                                <!-- <span *ngIf="data.action" class="bold ml-1" title="">{{
                                    data.action | translate
                                }}</span> -->
        
                                <!-- FIX TITLE -->
                                <!-- <span *ngIf="data.title" class="bold" title=""
                                    >&nbsp;{{ data.title | translate }}</span
                                > -->
                                <!-- OWNER REFERENCE -->
                                <!-- <span *ngIf="data.refOwner" title="">
                                    {{ data.refOwner }}</span
                                > -->
        
                                <!-- TEXT -->
                                <span *ngIf="data.title" title="">
                                    {{ data.title }}</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-right pl-0 pr-0">
                    <!-- CLOSE -->
                    <span
                        (click)="activeModal.dismiss('close')"
                        class="mousepointer"
                    >
                        <i class="fas fa-times"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col body-container">

                <!-- Body -->
                <div class="modal-body">
                    <ng-content select="[modal-body]"></ng-content>
                    <!-- <ng-content select="[modal-body]" *ngIf="!showWaiting"></ng-content> -->
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button class="btn btn-icon btn-3 btn-sm" (click)="activeModal.dismiss('cancel')">Cancel</button>
                    <button class="btn btn-icon btn-3 btn-sm" (click)="savePressed($event)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
