<!-- Page Header -->
<app-page-header>
  <div class="col-4">
    <input class="form-control" placement="bottom" container="body" (click)="showAlert()" (keyup)="showAlert()" [ngbPopover]="popValid" #popOver="ngbPopover" [formControl]="searchInput" type="search" placeholder="Ingrese nombre" aria-label="Search"/>
  </div>
  <div class="col-2 text-white">
    <button type="button" [disabled]="searchInput.invalid" class="btn btn-round" (click)="search(searchInput.value)">Buscar</button>
    <!-- <button type="button" class="btn btn-info" (click)="create()">Crear</button> -->
  </div>
</app-page-header>
<ng-template #popValid>
  <p class="mb-1" *ngIf="searchInput.hasError('invalidName')">La busqueda 'doublevpartners' no es valida</p>
  <p class="mb-1" *ngIf="searchInput.hasError('minlength') || searchInput.hasError('required')">La busqueda es de minimo 4 caracteres</p>
</ng-template>
<!-- Page Body -->
<app-page-body>
  <b *ngIf="(isLoading$ | async)">Cargando...</b>
  <div *ngIf="!(isLoading$ | async)">
    <p-table 
      [value]="userslist$ | async"
      [paginator]="false"
      [rows]="10"
      (onRowSelect)="editar($event)"
      selectionMode="single"
      [tableStyle]="{ 'min-width': '100%' }">
      <ng-template pTemplate="header">
          <tr>
            <th>ID Usuario</th>
            <th>Nombre Usuario</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user">
            <td>{{ user.id }}</td>
            <td>{{ user.login }}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</app-page-body>